[Unit]
Description=Wildfly Service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=root
ExecStart=/bin/wildfly/bin/standalone.sh

[Install]
WantedBy=multi-user.target
